In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import sum, desc, max

In [2]:
scSpark = SparkSession.builder.appName("Spark Example").getOrCreate()

23/05/16 09:23:40 WARN Utils: Your hostname, all-MS-7D35 resolves to a loopback address: 127.0.1.1; using 192.168.1.151 instead (on interface enp2s0)
23/05/16 09:23:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/16 09:23:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/05/16 09:23:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/05/16 09:23:41 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

loading all the data reuired to do the tasks.

In [3]:
transactions_data = scSpark.read.csv("./data/store_transactions/transactions_*.csv", header=True)
products_data = scSpark.read.csv("./data/products.csv", header=True)
customers_data = scSpark.read.csv("./data/customers.csv", header=True)

Showing data to see columns and all the necessary things to perform the tasks.

In [4]:
transactions_data.show()

+-------+-------------+----------+---------+--------+-------------------+
|StoreId|TransactionId|CustomerId|ProductId|Quantity|    TransactionTime|
+-------+-------------+----------+---------+--------+-------------------+
|      3|          454|        35|        3|       3|2022-12-23 17:36:11|
|      3|          524|        37|        9|      11|2022-12-23 22:02:51|
|      3|          562|         4|        3|       4|2022-12-23 02:51:50|
|      3|          581|        35|       14|      56|2022-12-23 17:05:54|
|      3|          200|        34|       15|      24|2022-12-23 07:15:01|
|      3|          506|        41|       24|      19|2022-12-23 21:26:29|
|      3|          278|         5|        1|       5|2022-12-23 16:41:42|
|      3|          849|        36|       23|      13|2022-12-23 13:22:55|
|      3|          992|        34|        7|       3|2022-12-23 16:47:14|
|      3|          703|        19|        7|      13|2022-12-23 22:36:48|
|      3|          719|        48|       18|      12|2022-12-23 10:11:29|
|      3|          526|        13|       14|       3|2022-12-23 11:57:23|
|      3|          997|        20|        1|      14|2022-12-23 04:02:30|
|      3|          281|        11|       15|      25|2022-12-23 16:07:45|
|      3|          691|        48|       23|       2|2022-12-23 08:12:00|
|      3|          762|        17|        5|      26|2022-12-23 16:18:27|
|      3|          106|        24|       23|      11|2022-12-23 07:41:50|
|      3|           21|        32|        9|       2|2022-12-23 21:15:10|
|      3|          626|        14|       18|      14|2022-12-23 12:55:02|
|      3|          219|        11|       15|       5|2022-12-23 13:00:17|
+-------+-------------+----------+---------+--------+-------------------+
only showing top 20 rows

In [5]:
products_data.show()

+---------+--------------+----------+---------+
|ProductId|          Name|  Category|UnitPrice|
+---------+--------------+----------+---------+
|        1|    Red Shorts|    Shorts|    89.75|
|        2|  White Shorts|    Shorts|    89.27|
|        3|   Blue Shorts|    Shorts|   118.88|
|        4|  Green Shorts|    Shorts|   121.43|
|        5|  Black Shorts|    Shorts|    74.58|
|        6|   Red Sandals|     Shoes|   138.38|
|        7| White Sandals|     Shoes|   160.96|
|        8| Blue Sneakers|     Shoes|    111.7|
|        9| Green Sandals|     Shoes|   137.53|
|       10|Black Sneakers|     Shoes|   146.41|
|       11|         Watch|Accesories|   179.65|
|       12|      Bracelet|Accesories|   160.77|
|       13|      Earrings|Accesories|    185.9|
|       14|   Red t-shirt|  T-Shirts|   121.58|
|       15| White t-shirt|  T-Shirts|   131.13|
|       16|  Blue t-shirt|  T-Shirts|   140.68|
|       17| Green t-shirt|  T-Shirts|   130.13|
|       18| Black t-shirt|  T-Shirts|   102.41|
|       19|  Green jacket|   Jackets|   223.69|
|       20|  Black jacket|   Jackets|   190.01|
+---------+--------------+----------+---------+
only showing top 20 rows

In [6]:
customers_data.show()

+----------+--------------------+--------------------+
|CustomerId|                Name|               Email|
+----------+--------------------+--------------------+
|         1|      Emilia Pedraza|emilia.pedraza@ex...|
|         2|        Thies Blümel|thies.blumel@exam...|
|         3|       بهاره علیزاده|bhrh.aalyzdh@exam...|
|         4|       Alevtin Paska|alevtin.paska@exa...|
|         5|      Charlotte Wong|charlotte.wong@ex...|
|         6|     Vittorio Bonnet|vittorio.bonnet@e...|
|         7|          Dominic Lo|dominic.lo@exampl...|
|         8|        كيان علیزاده|kyn.aalyzdh@examp...|
|         9|       Babür Çörekçi|babur.corekci@exa...|
|        10|          تینا یاسمی|tyn.ysmy@example.com|
|        11|    Angélique Vennix|angelique.vennix@...|
|        12|           Eric King|eric.king@example...|
|        13|      Elizabeth Neal|elizabeth.neal@ex...|
|        14|      Sylvie Lecomte|sylvie.lecomte@ex...|
|        15|           An Jansen|an.jansen@example...|
|        16|      Signe Petersen|signe.petersen@ex...|
|        17|Sevastiana Nester...|sevastiana.nester...|
|        18|          Kiara Brun|kiara.brun@exampl...|
|        19|       Alexia Renaud|alexia.renaud@exa...|
|        20|         Suzy Gibson|suzy.gibson@examp...|
+----------+--------------------+--------------------+
only showing top 20 rows

# Task 1 : What are the daily total sales for the store with id 1?

joining store one data with the products data.

In [7]:
store1_data = transactions_data.filter(transactions_data["StoreId"] == 1)

In [8]:
joined_data = store1_data.join(products_data, store1_data.ProductId == products_data.ProductId)

In [9]:
joined_data.show()

+-------+-------------+----------+---------+--------+-------------------+---------+--------------+----------+---------+
|StoreId|TransactionId|CustomerId|ProductId|Quantity|    TransactionTime|ProductId|          Name|  Category|UnitPrice|
+-------+-------------+----------+---------+--------+-------------------+---------+--------------+----------+---------+
|      1|          971|        13|        2|      10|2022-12-23 04:13:05|        2|  White Shorts|    Shorts|    89.27|
|      1|          605|         7|       10|       5|2022-12-23 09:36:22|       10|Black Sneakers|     Shoes|   146.41|
|      1|          567|        37|        2|       8|2022-12-23 19:44:43|        2|  White Shorts|    Shorts|    89.27|
|      1|          607|        38|        5|       4|2022-12-23 04:36:41|        5|  Black Shorts|    Shorts|    74.58|
|      1|          141|        17|        9|       7|2022-12-23 19:11:29|        9| Green Sandals|     Shoes|   137.53|
|      1|          248|        17|       11|      12|2022-12-23 06:27:58|       11|         Watch|Accesories|   179.65|
|      1|          726|        45|        4|      13|2022-12-23 14:12:34|        4|  Green Shorts|    Shorts|   121.43|
|      1|          725|         4|        9|       1|2022-12-23 12:15:47|        9| Green Sandals|     Shoes|   137.53|
|      1|          232|        30|       10|       9|2022-12-23 01:26:10|       10|Black Sneakers|     Shoes|   146.41|
|      1|          954|        47|        6|      14|2022-12-23 06:45:59|        6|   Red Sandals|     Shoes|   138.38|
|      1|           38|         2|        5|       3|2022-12-23 10:19:48|        5|  Black Shorts|    Shorts|    74.58|
|      1|          701|         3|        3|      11|2022-12-23 13:22:38|        3|   Blue Shorts|    Shorts|   118.88|
|      1|          783|        49|        7|       8|2022-12-23 18:00:04|        7| White Sandals|     Shoes|   160.96|
|      1|          333|        23|        8|       9|2022-12-23 20:18:44|        8| Blue Sneakers|     Shoes|    111.7|
|      1|          482|         1|       11|       2|2022-12-23 09:05:36|       11|         Watch|Accesories|   179.65|
|      1|          286|        35|        1|      12|2022-12-23 01:23:31|        1|    Red Shorts|    Shorts|    89.75|
|      1|          734|        43|        5|       1|2022-12-23 23:58:16|        5|  Black Shorts|    Shorts|    74.58|
|      1|           20|         1|        3|       2|2022-12-23 05:18:30|        3|   Blue Shorts|    Shorts|   118.88|
|      1|          203|        18|        6|      10|2022-12-23 23:35:44|        6|   Red Sandals|     Shoes|   138.38|
|      1|          924|        30|        5|       4|2022-12-23 11:35:46|        5|  Black Shorts|    Shorts|    74.58|
+-------+-------------+----------+---------+--------+-------------------+---------+--------------+----------+---------+
only showing top 20 rows

finding total price of each sales by multiplying unit price with quantity.

In [10]:
joined_data = joined_data.withColumn("TotalPrice", joined_data["Quantity"] * joined_data["UnitPrice"])

In [11]:
joined_data.show()

+-------+-------------+----------+---------+--------+-------------------+---------+--------------+----------+---------+------------------+
|StoreId|TransactionId|CustomerId|ProductId|Quantity|    TransactionTime|ProductId|          Name|  Category|UnitPrice|        TotalPrice|
+-------+-------------+----------+---------+--------+-------------------+---------+--------------+----------+---------+------------------+
|      1|          971|        13|        2|      10|2022-12-23 04:13:05|        2|  White Shorts|    Shorts|    89.27| 892.6999999999999|
|      1|          605|         7|       10|       5|2022-12-23 09:36:22|       10|Black Sneakers|     Shoes|   146.41|            732.05|
|      1|          567|        37|        2|       8|2022-12-23 19:44:43|        2|  White Shorts|    Shorts|    89.27|            714.16|
|      1|          607|        38|        5|       4|2022-12-23 04:36:41|        5|  Black Shorts|    Shorts|    74.58|            298.32|
|      1|          141|        17|        9|       7|2022-12-23 19:11:29|        9| Green Sandals|     Shoes|   137.53|            962.71|
|      1|          248|        17|       11|      12|2022-12-23 06:27:58|       11|         Watch|Accesories|   179.65|            2155.8|
|      1|          726|        45|        4|      13|2022-12-23 14:12:34|        4|  Green Shorts|    Shorts|   121.43|1578.5900000000001|
|      1|          725|         4|        9|       1|2022-12-23 12:15:47|        9| Green Sandals|     Shoes|   137.53|            137.53|
|      1|          232|        30|       10|       9|2022-12-23 01:26:10|       10|Black Sneakers|     Shoes|   146.41|           1317.69|
|      1|          954|        47|        6|      14|2022-12-23 06:45:59|        6|   Red Sandals|     Shoes|   138.38|           1937.32|
|      1|           38|         2|        5|       3|2022-12-23 10:19:48|        5|  Black Shorts|    Shorts|    74.58|            223.74|
|      1|          701|         3|        3|      11|2022-12-23 13:22:38|        3|   Blue Shorts|    Shorts|   118.88|1307.6799999999998|
|      1|          783|        49|        7|       8|2022-12-23 18:00:04|        7| White Sandals|     Shoes|   160.96|           1287.68|
|      1|          333|        23|        8|       9|2022-12-23 20:18:44|        8| Blue Sneakers|     Shoes|    111.7|1005.3000000000001|
|      1|          482|         1|       11|       2|2022-12-23 09:05:36|       11|         Watch|Accesories|   179.65|             359.3|
|      1|          286|        35|        1|      12|2022-12-23 01:23:31|        1|    Red Shorts|    Shorts|    89.75|            1077.0|
|      1|          734|        43|        5|       1|2022-12-23 23:58:16|        5|  Black Shorts|    Shorts|    74.58|             74.58|
|      1|           20|         1|        3|       2|2022-12-23 05:18:30|        3|   Blue Shorts|    Shorts|   118.88|            237.76|
|      1|          203|        18|        6|      10|2022-12-23 23:35:44|        6|   Red Sandals|     Shoes|   138.38|            1383.8|
|      1|          924|        30|        5|       4|2022-12-23 11:35:46|        5|  Black Shorts|    Shorts|    74.58|            298.32|
+-------+-------------+----------+---------+--------+-------------------+---------+--------------+----------+---------+------------------+
only showing top 20 rows

Casting the values so we can add them together.

In [12]:
joined_data = joined_data.withColumn(
    "TotalPrice", joined_data["TotalPrice"].cast(IntegerType())
)

In [13]:
store1_Totalsum = joined_data.select(sum("TotalPrice")).collect()[0][0]

In [14]:
print("The daily total sales for the store with id 1 is : ",store1_Totalsum)

The daily total sales for the store with id 1 is :  41239

# Task 2 : What are the mean sales for the store with id 2?

joining store one data with the products data.

In [15]:
store2_data = transactions_data.filter(transactions_data["StoreId"] == 2)

In [16]:
joined_data = store2_data.join(products_data, store2_data.ProductId == products_data.ProductId)

finding total price of each sales by multiplying unit price with quantity.

In [17]:
joined_data = joined_data.withColumn("TotalPrice", joined_data["Quantity"] * joined_data["UnitPrice"])
joined_data.show()

+-------+-------------+----------+---------+--------+-------------------+---------+-------------+----------+---------+------------------+
|StoreId|TransactionId|CustomerId|ProductId|Quantity|    TransactionTime|ProductId|         Name|  Category|UnitPrice|        TotalPrice|
+-------+-------------+----------+---------+--------+-------------------+---------+-------------+----------+---------+------------------+
|      2|            2|         2|        2|       2|2022-12-23 18:49:45|        2| White Shorts|    Shorts|    89.27|            178.54|
|      2|            2|         2|        2|       2|2022-12-23 13:19:51|        2| White Shorts|    Shorts|    89.27|            178.54|
|      2|            2|         2|        2|       2|2022-12-23 22:39:21|        2| White Shorts|    Shorts|    89.27|            178.54|
|      2|          514|        14|       21|       5|2022-12-23 00:24:15|       21|   Red Chinos|     Pants|   134.42| 672.0999999999999|
|      2|          363|        44|       16|       2|2022-12-23 10:46:04|       16| Blue t-shirt|  T-Shirts|   140.68|            281.36|
|      2|          773|        47|       19|       6|2022-12-23 22:18:53|       19| Green jacket|   Jackets|   223.69|1342.1399999999999|
|      2|          822|        39|       15|       6|2022-12-23 02:39:02|       15|White t-shirt|  T-Shirts|   131.13|            786.78|
|      2|            2|         2|        2|       2|2022-12-23 15:34:54|        2| White Shorts|    Shorts|    89.27|            178.54|
|      2|            2|         2|        2|       2|2022-12-23 08:35:19|        2| White Shorts|    Shorts|    89.27|            178.54|
|      2|          227|        42|       16|       5|2022-12-23 19:58:57|       16| Blue t-shirt|  T-Shirts|   140.68| 703.4000000000001|
|      2|            2|         2|        2|       2|2022-12-23 02:23:41|        2| White Shorts|    Shorts|    89.27|            178.54|
|      2|            2|         2|        2|       2|2022-12-23 21:49:12|        2| White Shorts|    Shorts|    89.27|            178.54|
|      2|            2|         2|        2|       2|2022-12-23 18:30:51|        2| White Shorts|    Shorts|    89.27|            178.54|
|      2|          372|        42|       14|       3|2022-12-23 19:25:27|       14|  Red t-shirt|  T-Shirts|   121.58|            364.74|
|      2|          713|        17|       25|       3|2022-12-23 19:27:14|       25|  Black Jeans|     Pants|   129.72|389.15999999999997|
|      2|          846|         1|       16|       4|2022-12-23 05:09:24|       16| Blue t-shirt|  T-Shirts|   140.68|            562.72|
|      2|          969|        17|       13|       4|2022-12-23 03:22:26|       13|     Earrings|Accesories|    185.9|             743.6|
|      2|          694|        28|       17|       5|2022-12-23 21:56:11|       17|Green t-shirt|  T-Shirts|   130.13|            650.65|
|      2|          269|        28|       18|       1|2022-12-23 21:34:17|       18|Black t-shirt|  T-Shirts|   102.41|            102.41|
|      2|           67|        12|       19|       2|2022-12-23 16:38:56|       19| Green jacket|   Jackets|   223.69|            447.38|
+-------+-------------+----------+---------+--------+-------------------+---------+-------------+----------+---------+------------------+
only showing top 20 rows

finding mean.

store2_mean = joined_data.agg({'TotalPrice': 'mean'}).show()
store2_mean

### The mean sales for the store with id 2 is "513.45"

# Task 3 : What is the email of the client who spent the most when summing up purchases from all of the stores?

combining all data.

In [18]:
combined__alldata_table= customers_data.join(transactions_data, "CustomerId").join(products_data, "ProductId")
combined__alldata_table = combined__alldata_table.withColumn("TotalPrice", joined_data["Quantity"] * joined_data["UnitPrice"])

In [19]:
combined__alldata_table.show()

+---------+----------+--------------------+--------------------+-------+-------------+--------+-------------------+-------------+--------+---------+------------------+
|ProductId|CustomerId|                Name|               Email|StoreId|TransactionId|Quantity|    TransactionTime|         Name|Category|UnitPrice|        TotalPrice|
+---------+----------+--------------------+--------------------+-------+-------------+--------+-------------------+-------------+--------+---------+------------------+
|        3|        35|      Dwayne Johnson|dwayne.johnson@gm...|      3|          454|       3|2022-12-23 17:36:11|  Blue Shorts|  Shorts|   118.88|            356.64|
|        9|        37|       Brittany Holt|brittany.holt@exa...|      3|          524|      11|2022-12-23 22:02:51|Green Sandals|   Shoes|   137.53|           1512.83|
|        3|         4|       Alevtin Paska|alevtin.paska@exa...|      3|          562|       4|2022-12-23 02:51:50|  Blue Shorts|  Shorts|   118.88|            475.52|
|       14|        35|      Dwayne Johnson|dwayne.johnson@gm...|      3|          581|      56|2022-12-23 17:05:54|  Red t-shirt|T-Shirts|   121.58|           6808.48|
|       15|        34|            Avi Shet|avi.shet@example.com|      3|          200|      24|2022-12-23 07:15:01|White t-shirt|T-Shirts|   131.13|           3147.12|
|       24|        41|         Alice Morin|alice.morin@examp...|      3|          506|      19|2022-12-23 21:26:29|   Blue Jeans|   Pants|    173.1|            3288.9|
|        1|         5|      Charlotte Wong|charlotte.wong@ex...|      3|          278|       5|2022-12-23 16:41:42|   Red Shorts|  Shorts|    89.75|            448.75|
|       23|        36|     William Nielsen|william.nielsen@e...|      3|          849|      13|2022-12-23 13:22:55| Green Chinos|   Pants|   150.93|1962.0900000000001|
|        7|        34|            Avi Shet|avi.shet@example.com|      3|          992|       3|2022-12-23 16:47:14|White Sandals|   Shoes|   160.96|            482.88|
|        7|        19|       Alexia Renaud|alexia.renaud@exa...|      3|          703|      13|2022-12-23 22:36:48|White Sandals|   Shoes|   160.96|           2092.48|
|       18|        48|        Amoli Shenoy|amoli.shenoy@exam...|      3|          719|      12|2022-12-23 10:11:29|Black t-shirt|T-Shirts|   102.41|           1228.92|
|       14|        13|      Elizabeth Neal|elizabeth.neal@ex...|      3|          526|       3|2022-12-23 11:57:23|  Red t-shirt|T-Shirts|   121.58|            364.74|
|        1|        20|         Suzy Gibson|suzy.gibson@examp...|      3|          997|      14|2022-12-23 04:02:30|   Red Shorts|  Shorts|    89.75|            1256.5|
|       15|        11|    Angélique Vennix|angelique.vennix@...|      3|          281|      25|2022-12-23 16:07:45|White t-shirt|T-Shirts|   131.13|           3278.25|
|       23|        48|        Amoli Shenoy|amoli.shenoy@exam...|      3|          691|       2|2022-12-23 08:12:00| Green Chinos|   Pants|   150.93|            301.86|
|        5|        17|Sevastiana Nester...|sevastiana.nester...|      3|          762|      26|2022-12-23 16:18:27| Black Shorts|  Shorts|    74.58|           1939.08|
|       23|        24|         Bernd Colin|bernd.colin@examp...|      3|          106|      11|2022-12-23 07:41:50| Green Chinos|   Pants|   150.93|           1660.23|
|        9|        32|        Ethan Little|ethan.little@exam...|      3|           21|       2|2022-12-23 21:15:10|Green Sandals|   Shoes|   137.53|            275.06|
|       18|        14|      Sylvie Lecomte|sylvie.lecomte@ex...|      3|          626|      14|2022-12-23 12:55:02|Black t-shirt|T-Shirts|   102.41|           1433.74|
|       15|        11|    Angélique Vennix|angelique.vennix@...|      3|          219|       5|2022-12-23 13:00:17|White t-shirt|T-Shirts|   131.13|            655.65|
+---------+----------+--------------------+--------------------+-------+-------------+--------+-------------------+-------------+--------+---------+------------------+
only showing top 20 rows

finding top buyers.

In [20]:
top_buyers = combined__alldata_table.groupBy("CustomerId").agg(sum("TotalPrice").alias("TotalValue"))

In [21]:
combined__alldata_table= combined__alldata_table.join(top_buyers)

In [22]:
combined__alldata_table.select("Email").show(1,truncate=False)

+------------------------+
|Email                   |
+------------------------+
|dwayne.johnson@gmail.com|
+------------------------+
only showing top 1 row

### The email of the client who spent the most when summing up purchases from all of the stores is "dwayne.johnson@gmail.com"

# Task 4

In [23]:
storedata_with_products_data= products_data.join(transactions_data, "ProductId")

In [24]:
storedata_with_products_data.show()

+---------+-------------+--------+---------+-------+-------------+----------+--------+-------------------+
|ProductId|         Name|Category|UnitPrice|StoreId|TransactionId|CustomerId|Quantity|    TransactionTime|
+---------+-------------+--------+---------+-------+-------------+----------+--------+-------------------+
|        3|  Blue Shorts|  Shorts|   118.88|      3|          454|        35|       3|2022-12-23 17:36:11|
|        9|Green Sandals|   Shoes|   137.53|      3|          524|        37|      11|2022-12-23 22:02:51|
|        3|  Blue Shorts|  Shorts|   118.88|      3|          562|         4|       4|2022-12-23 02:51:50|
|       14|  Red t-shirt|T-Shirts|   121.58|      3|          581|        35|      56|2022-12-23 17:05:54|
|       15|White t-shirt|T-Shirts|   131.13|      3|          200|        34|      24|2022-12-23 07:15:01|
|       24|   Blue Jeans|   Pants|    173.1|      3|          506|        41|      19|2022-12-23 21:26:29|
|        1|   Red Shorts|  Shorts|    89.75|      3|          278|         5|       5|2022-12-23 16:41:42|
|       23| Green Chinos|   Pants|   150.93|      3|          849|        36|      13|2022-12-23 13:22:55|
|        7|White Sandals|   Shoes|   160.96|      3|          992|        34|       3|2022-12-23 16:47:14|
|        7|White Sandals|   Shoes|   160.96|      3|          703|        19|      13|2022-12-23 22:36:48|
|       18|Black t-shirt|T-Shirts|   102.41|      3|          719|        48|      12|2022-12-23 10:11:29|
|       14|  Red t-shirt|T-Shirts|   121.58|      3|          526|        13|       3|2022-12-23 11:57:23|
|        1|   Red Shorts|  Shorts|    89.75|      3|          997|        20|      14|2022-12-23 04:02:30|
|       15|White t-shirt|T-Shirts|   131.13|      3|          281|        11|      25|2022-12-23 16:07:45|
|       23| Green Chinos|   Pants|   150.93|      3|          691|        48|       2|2022-12-23 08:12:00|
|        5| Black Shorts|  Shorts|    74.58|      3|          762|        17|      26|2022-12-23 16:18:27|
|       23| Green Chinos|   Pants|   150.93|      3|          106|        24|      11|2022-12-23 07:41:50|
|        9|Green Sandals|   Shoes|   137.53|      3|           21|        32|       2|2022-12-23 21:15:10|
|       18|Black t-shirt|T-Shirts|   102.41|      3|          626|        14|      14|2022-12-23 12:55:02|
|       15|White t-shirt|T-Shirts|   131.13|      3|          219|        11|       5|2022-12-23 13:00:17|
+---------+-------------+--------+---------+-------+-------------+----------+--------+-------------------+
only showing top 20 rows

In [25]:
count_of_single_products=storedata_with_products_data.groupBy("Name").count()

In [26]:
count_of_single_products.show()

+--------------+-----+
|          Name|count|
+--------------+-----+
|    Red Chinos|    4|
| Green t-shirt|    4|
|   Red t-shirt|    6|
|    Red Shorts|    7|
|Black Sneakers|    5|
|   Red Sandals|    6|
|    Blue Jeans|    7|
|   Black Jeans|    4|
|  White Chinos|    3|
| White Sandals|    3|
|      Bracelet|    4|
|      Earrings|    5|
|  Green jacket|    9|
|  Green Chinos|    6|
|  Blue t-shirt|    6|
| Green Sandals|    6|
|  Black Shorts|    9|
| White t-shirt|    8|
|   Blue Shorts|    6|
| Black t-shirt|    3|
+--------------+-----+
only showing top 20 rows

In [27]:
most_bought_products=count_of_single_products.orderBy(desc("count"))

In [28]:
most_bought_products.show(5)

+-------------+-----+
|         Name|count|
+-------------+-----+
| White Shorts|   20|
| Green jacket|    9|
| Black Shorts|    9|
|White t-shirt|    8|
|   Blue Jeans|    7|
+-------------+-----+
only showing top 5 rows

### Top 5 products that are most frequently bought across all stores are "White Shorts, Green jacket, Black Shorts, White t-shirt & Blue Jeans".