In [10]:
import pandas as pd
import numpy as np

In [11]:
def create_random_values_for_earnings_period(date):
    df = pd.read_parquet("data/output_data/employee_earnings/earnings_date=2022-02-10/employee_earnings.parquet")
    df.info()
    random_values = np.random.uniform(3580, 7584, size=100)
    df["earnings"]=random_values
    df["earnings"]=df["earnings"].astype("int64")
    df.info()
    output_path=f"data/output_data/employee_earnings/earnings_date={date}/employee_earnings.parquet"
    df.to_parquet(output_path,engine="pyarrow")
create_random_values_for_earnings_period("2022-02-15")
create_random_values_for_earnings_period("2022-02-16")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   emp_id           100 non-null    int64
 1   first_name       100 non-null    object
 2   middle_initial   100 non-null    object
 3   last_name        100 non-null    object
 4   email            100 non-null    object
 5   date_of_birth    100 non-null    object
 6   date_of_joining  100 non-null    object
 7   ssn              100 non-null    object
 8   phone_number     100 non-null    object
 9   user_name        100 non-null    object
 10  password         100 non-null    object
 11  office_branch    100 non-null    object
 12  earnings         100 non-null    int64
dtypes: int64(2), object(11)
memory usage: 10.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   emp_id           100 non-null    int64
 1   first_name       100 non-null    object
 2   middle_initial   100 non-null    object
 3   last_name        100 non-null    object
 4   email            100 non-null    object
 5   date_of_birth    100 non-null    object
 6   date_of_joining  100 non-null    object
 7   ssn              100 non-null    object
 8   phone_number     100 non-null    object
 9   user_name        100 non-null    object
 10  password         100 non-null    object
 11  office_branch    100 non-null    object
 12  earnings         100 non-null    int64
dtypes: int64(2), object(11)
memory usage: 10.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   emp_id           100 non-null    int64
 1   first_name       100 non-null    object
 2   middle_initial   100 non-null    object
 3   last_name        100 non-null    object
 4   email            100 non-null    object
 5   date_of_birth    100 non-null    object
 6   date_of_joining  100 non-null    object
 7   ssn              100 non-null    object
 8   phone_number     100 non-null    object
 9   user_name        100 non-null    object
 10  password         100 non-null    object
 11  office_branch    100 non-null    object
 12  earnings         100 non-null    int64
dtypes: int64(2), object(11)
memory usage: 10.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   emp_id           100 non-null    int64
 1   first_name       100 non-null    object
 2   middle_initial   100 non-null    object
 3   last_name        100 non-null    object
 4   email            100 non-null    object
 5   date_of_birth    100 non-null    object
 6   date_of_joining  100 non-null    object
 7   ssn              100 non-null    object
 8   phone_number     100 non-null    object
 9   user_name        100 non-null    object
 10  password         100 non-null    object
 11  office_branch    100 non-null    object
 12  earnings         100 non-null    int64
dtypes: int64(2), object(11)
memory usage: 10.3+ KB