In [1]:
import numpy as np
import pandas as pd

In [62]:
array=np.array([["Alpha",98.5],["Charlie",70.5],["Bravo",80.5],["Charlie",70.5],["Alpha",98.5]])
df= pd.DataFrame(array,columns=["Performance Remarks","Performance Number"])

In [63]:
df.head()

  Performance Remarks Performance Number
0               Alpha               98.5
1             Charlie               70.5
2               Bravo               80.5
3             Charlie               70.5
4               Alpha               98.5

In [64]:
df.isna().sum()

Performance Remarks    0
Performance Number     0
dtype: int64

In [66]:
unique_value= df["Performance Remarks"].unique()
value_map = {value: i for i, value in enumerate(unique_value)}
print("Assigned value",value_map[0])
new_list = [value_map[value] if value in value_map else value for value in df["Performance Remarks"]]
df["Performance Remarks"]=new_list
df

Assigned value 0

   Performance Remarks Performance Number
0                    0               98.5
1                    1               70.5
2                    2               80.5
3                    1               70.5
4                    0               98.5