#Implement a label encoder for categorical data
using pure Python, Pandas and NumPy.

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("Iris.csv")

In [10]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [11]:
categorical = df.select_dtypes(include=['object']).columns.tolist()

In [12]:
def label_encode(df, columns):
    
    #taking the unique values from columns
    
    unique_value= df[columns].unique()
    
    #iterating the index and value from the unique values
    
    value_map = {value: i for i, value in enumerate(unique_value)}
    
    #creating new label for unique value 
    
    new_list = [value_map[value] if value in value_map else value for value in df[columns]]
    df[columns] = new_list
    print(df)

In [13]:
label_encode(df, categorical[0])

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

Creating Dynamic Program which will take the Categorial Value and Use that Value

Now Creating Function that will take dataframe and column will do label encoding as well as clean the data

In [14]:
import pandas as pd


def label_encode(df, columns):
    unique_values = df[columns].unique()
    value_map = {value: i for i, value in enumerate(unique_values)}

    new_list = [value_map[value] if value in value_map else value for value in df[columns]]
    df[columns] = new_list
    return df


def clean_data(df):
    # Drop any rows with missing values
    df.dropna(inplace=True)

    # Convert categorical data to numerical using label encoding
    categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
    for col in categorical_columns:
        df = label_encode(df, col)

    return df


if __name__ == '__main__':
    data = pd.read_csv("Iris.csv")
    cleaned_data = clean_data(data)
    print(cleaned_data.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0